@model FuniCalcPro.Models.CalculatorModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>

</div>

<div class="container">
    <h1>FuniCalc Pro</h1>

    <form asp-action="Calculate" method="post">

        <input asp-for="Number1" placeholder="First Number" />

        <select asp-for="Operation">
            <option value="+">Add</option>
            <option value="-">Subtract</option>
            <option value="*">Multiply</option>
            <option value="/">Divide</option>
        </select>

        <input asp-for="Number2" placeholder="Second Number" />

        <button type="submit">
            Calculate
        </button>

    </form>

    <h2>Result: @Model.Result</h2>
</div>
